<div class="flex-wrapper">

    <div class="divTable">

        <h2>Quick sort</h2>

        <div class="headRow">
            <div class="divCell">[  ]</div>
            <div *ngFor="let arrEl of testArray, let idx = index" class="divCell">
                {{arrEl}}
            </div>
        </div>


        <div *ngFor="let arr of arrayRender, let x = index" [@simpleFadeAnimation]="'in'" class="divRow">
            <div class="divCell">{{idxRender[x]}}</div>
            <div *ngFor="let sub of arr" class="divCell">
                {{sub}}
            </div>
        </div>

    </div>

    <div class="illustration">
        <img src="/assets/sorting/sort-quick.png" alt="quick-sort" />
    </div>

</div>
