<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=  title %></title>
        <!-- inject:css -->
        <!-- endinject -->
  </head>
  <body>
        <h1 class="white">Header!!!</h1>
        <button id="send_request">Request</button>
        <!-- inject:js -->
        <!-- endinject -->
  </body>
</html>
